[v-cloak] {
  display: none;
}

.submit-form {

    .form {
        height: 3em;
        width: 150px;
        border-radius: 2px;
    }
    .is-error {
        border-color: $red;

        &-message {
            color: $red;
        }
    }

}
